*{
    box-sizing: border-box;
}
body{
    background-image: url(../media/back.jpg);
    background-repeat: repeat-y;
}
h2{
    color: aliceblue;
    text-align: center;
}
.container{
    margin-left: 40%;
    background-color: rgba(240, 248, 255, 0.5);
    width: fit-content;
    padding: 20px;
    border-radius: 10%;
}
input{
    width: 100% !important;
}